html {
    box-sizing: border-box;
    font-size: 16px;
    scroll-behavior: smooth;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    min-width: 375px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(255, 255, 255, 0.8);
    margin: 0 auto;
    background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
  }

  /* Typography */
p {
  font-size: 1rem;
  line-height: 24px;
}

h2 {
      font-size: 2rem;
   }

ul li {
  font-size: 1rem;
  line-height: 36px;
}

@media (min-width: 768px) {
   h2 {
      font-size: 2.5rem;
   }

  p, ul li {
    font-size: 1.15rem;
    line-height: 34px;
  }
}

@media (min-width: 1024px) {
   h2 {
      font-size: 2.7rem;
   }

  p, ul li {
    font-size: 1.15rem;
    line-height: 34px;
  }

  .headline .primary-text, article .primary-text {
    font-size: 4rem;
    line-height: 81.5px;
  }

  .headline .supporting-text, article .supporting-text {
    font-size: 2rem;
    line-height: 44px;
  }

  .headline .description, article .description {
    font-size: 1.25rem;
    line-height: 32px;
  }
}

.nav-wrapper {
   min-width: 375px;
   background: rgb(51, 51, 51, 0.45);
   width: 100%;
}

header {
   min-width: 375px;
   margin: 0 auto;
   padding: 0 7vw;
}

.nav-bar {
   position: relative;
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   height: 80px;
   padding: 1em 0;
   color: white;
  }

  .nav-bar a {
   margin: 0;
   padding: 0;
   color:white;
  }

nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 1em;
}

.logo {
   width: 140px;
   height: 50px;
}

.nav-links {
  position: fixed;
  top: -2.8%;
  right: 0;
  width: 50vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;
  list-style: none;
  display: flex;
  transform: translateX(100%);
  opacity: 0;
  pointer-events: none;
  transition: transform 0.4s ease-in-out, opacity 0.3s ease-in-out;
  z-index: 3;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(4px);
}

.nav-links a{
   text-decoration: none;
   color: #f1f1f1;
   font-weight: bold;
   font-size: 17px;
   transition: color 0.3s ease;
}

.nav-links a:hover {
   text-shadow: 0 0 6px rgba(255, 255, 255, 0.6);
   color: #ffff0d;
}

.nav-links.open {
  transform: translateX(0%);
  opacity: 1;
  pointer-events: auto;
}

  .hamburger {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0;
   background: none;
   border: none;
   cursor: pointer;
   z-index: 5;
}

.icon-menu {
  display: block;
  transition: opacity 0.3s ease;
  width: 55px;
  height: 60px;
}


/* Initially show hamburger, hide close */
.icon-close {
   display: none;
   transition: opacity 0.5s ease;
   width: 20px;
   height: 20px;
}

.hamburger.open .icon-menu {
  display: none;
}

.hamburger.open .icon-close {
   display: block;
}


/* Hero Section */
main {
   max-width: 100%;
}

.headline {
   min-width: 375px;
   min-height: 640px;
   height: auto;
   padding: 10% 7vw 7% 7vw;
   background-image: url('./media-file/dog-background.png');
   background-repeat: no-repeat;
   background-position: 100% 100%;
   background-size: 35% 32%;
}

.primary-text {
  margin-bottom: 0.5em;
  font-weight: 400px;
  font-size: 3.5rem;
  line-height: 70px;
  color: #ffff0d;
}

#typewriter::after {
  content: "|";
  position: relative;
  top: 0;
  right: 0.7%;
  animation: blink 0.7s infinite;
  color: #ffff0d;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

@media (max-width: 640px) {
   .headline h1 {
      min-height: 140px;
   }
}


.supporting-text {
  margin: 0;
  padding-bottom: 0.2em;
  font-family: "Roboto", sans-serif;
  font-size: 1.4em;
  line-height: 32px;
  font-weight: 700px;
  color: #fff5e1;
}

.description {
  margin: 0;
  font-family: "Poppins", "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  padding-bottom: 2em;
  white-space: normal;
  color: #fff5e1;
  max-width: 65vw;
}

button {
  border: none;
  border-radius: 30px;
  outline: none;
  padding: 1em 2.7em;
  background-color: #ffff0d;
  color: #000000;
  font-family: 'Inter', sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

/* Pricing Section */
.pricing {
  min-width: 375px;
  background-color: #000000;
  height: auto;
  padding: 6% 7vw;
}

.pricing-title {
  text-align: center;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: #fff5e1;
}

.subtext {
  text-align: center;
  color: #cccccc;
  max-width: 600px;
  margin: 0 auto 2rem;
  line-height: 1.5;
}

.pricing-grid {
  padding: 4% 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3em;
}

.price-card {
  width: 100%;
  padding: 1em;
  background: rgba(255, 255, 255, 0.07);
  border-radius: 7px;
  text-align: center;
  transition: .4s ease;

  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.price-card:hover {
   transform: scale(1.05);
}

.price-card .plan-header {
   color: #cccccc;
   margin: 0.3em auto;
}

.price-card p {
   line-height: 25px;
}

.price-card ul {
   list-style: none;
   padding-bottom: 0.7em;
}
.price-card ul li {
   color: #cccccc;
   text-align: left;
}

.tick {
   color: #c16ecf;
   margin-right: 1em;
   font-weight: bold;
}

.ratings {
   text-align: center;
   margin: auto;
}

.ratings .stars {
   font-size: 1.2rem;
   line-height: 1;
}

.rating-info {
   font-size: 1rem;
   color: #cccccc;
}

.price {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 auto 0.5em auto;
   border-radius: 50%;
   background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
   font-size: 3rem;
   font-weight: 700;
   width: 130px;
   height: 130px;
   text-align: center;
   color: #000000;
}

.currency {
   font-size: 1.7rem;
   margin-right: -2px;
}

.price-card a {
   text-decoration: none;
   font-weight: 700;
   background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
   padding: 1em 2.7em;
   margin-bottom: 0.5em;
   color:black;
   border-radius:30px;
   min-width: 60%;
  }

.cta {
   align-items: flex-end;
}

/* About */
.about-page {
   min-width: 375px;
   padding: 1.4em 7vw 2em 7vw;
   text-align: center;
   height: auto;
}

.about {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1em;
   margin-bottom: 5em;
   text-align: center;
}

.image-card {
   width: 100%;
   max-width: 600px;
}

.about-content {
   text-align: center;
   padding: 0 1rem;
}

.about-text {
   text-align: center;
}

.about-content, .image-card {
   flex: 1;
   width: 100%;
}

.image-card img {
   width: 100%;
   height: auto;
   display: block;
   object-fit: cover;
   border-radius: 0.4rem;
}

.adopt {
   list-style: none;
   padding-bottom: 1em;
}

.fun-text {
   margin: 0 auto;
   text-align: center;
   width: 60%;
}

/* Contact */
.container-contact {
   background-color: #000000;
   min-width: 375px;
   width: 100%;
   margin: 0 auto;
   padding-top: 6%;
}

.contact {
   display: flex;
   padding: 0 7vw 1em 7vw;
   flex-direction: column;
   gap: 2em;
   max-width: 1500px;
   margin: auto;
}

.contact h3 {
   font-family: 'Inter', sans-serif;
   font-size: 2.2rem;
   font-weight: bold;
   line-height: 44px;
   color: #fff5e1;
   text-align: center;
   margin-bottom: 2em;
}

.contact input {
   width: 100%;
   height: 3em;
   padding: 1.5em 1em;
   margin-bottom: 1em;
   border: none;
   border-bottom: 2px solid #cccccc;
   background: none;
   font-family: 'Inter', sans-serif;
   font-size: 1rem;
   color: #fff5e1;
}

form textarea {
  width: 100%;
  height: 114px;
  margin-top: 1em;
  padding: 1em;
  font-style: italic;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  color: #fff5e1;
  border: none;
  background: #000000;
}

.contact form button {
  display: block;
  margin: 1em auto;
  background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
}

#backToTop {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: column;
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 90px;
  height: 90px;
  text-align: center;
  background: #ffff0d;
  color: #000;
  border: none;
  border-radius: 50%;
  font-size: 1.1em;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 1000;
  cursor: pointer;
}

#backToTop:hover {
  transform: scale(1.04);
}

#backToTop.show {
  opacity: 1;
  pointer-events: auto;
}

#backToTop p {
   margin: 0;
   padding-bottom: 0.1em;
   font-size: 2.5em;
}


footer {
  margin-top: 3em;
  border-top: 0.1em solid rgb(219, 216, 215, 0.3);
  padding-top: 1em;
}

.footer-links {
  display: flex;
  justify-content: center;
}

/* Responsive*/
/* Smaller Mobile Screens */
@media (min-width: 768px) {
   .headline {
      background-position: 95% 100%;
      background-size: 33% 38%;  
   }

   .description {
   max-width: 45vw;
   }

   .pricing-grid {
      padding-top: 4%;
      align-items: center;
      height: auto;
   }

   .price-card {
      max-width: 590px;
   }

   .price-card a {
      width: 65%;
   }
}

@media (max-width: 869px) {
  .nav-links {
    visibility: hidden;
  }

  .nav-links.open {
    visibility: visible;
  }
}


@media (min-width: 870px) {
   .hamburger {
      display: none;
   }

   .nav-links {
      display: flex !important;
      position: static;
      flex-direction: row;
      justify-content: flex-end;
      gap: 3em;
      background: transparent;
      list-style: none;
      height: auto;
      width: auto;
      transform: none;
      opacity: 1;
      pointer-events: auto;
   }

.nav-links a{
   text-decoration: none;
   color: #fff;
   font-weight: bold;
   font-size: 17px;
   transition: color 0.3s ease;
}
.nav-links a:hover {
   color: #ffff0d;
}

.price-card {
      max-width: 630px;
 }

}

/* Desktop */
@media (min-width: 1024px) {
   .headline {
      background-position: 100% 100%;
      background-size: 31% 38%;  
   }

   .description {
      max-width: 37vw;
   }

   .price-card {
      max-width: 670px;
   }

   .about-page {
   padding: 6em 7vw 2em 7vw;
   }

   .about {
   flex-direction: row;
   gap: 4vw;
   text-align: left;
   align-items: center;
   flex-wrap: wrap;
 }

 .about.mission {
   flex-direction: row-reverse;
 }

 .about-content {
   max-width: 600px;
   flex: 1;
 }

 .image-card {
   flex: 1;
 }

 .about-content .primary-text {
   margin-bottom: 0.2em;
 }

 ul.adopt {
   text-align: left;
   width: 100%;
   padding-left: 0;
 }

 .contact {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 4em;
    padding: 0 10vw 10% 10vw;
  }

  .contact h3 {
    max-width: 500px;
    text-align: left;
  }

  .container-contact {
    padding-top: 10%;
    margin: 0 auto;
  }

}

@media (min-width: 1260px) {
   .headline {
      background-position: 100% 30%;
      background-size: 44% 80%;
   }

   
   h1 {
      max-width: 49vw;
   }
   
   .pricing-grid {
      flex-direction: row;
      gap: 2em;
   }

   .price-card a {
      width: 90%;
   }
}

@media (min-width: 1500px) {
   .headline .description {
      max-width: 25vw;
   }

   header, .top {
      max-width: 1500px;
   }

   .nav-bar {
      max-width: 1500px;
      margin: 0 auto;
   }

   .headline, .about-page, .contact-wrapper {
      margin: 0 auto;
      max-width: 1500px;
   }

   .pricing-grid {
      margin: 0 auto;
      max-width: 1500px;
      gap: 3em;
   }
}



